In [ ]:
# 1) we can use pandas to creat DataFrame with duplicate values.df=pd.DataFrame()
# 2) Using df.duplicated() to find out which observes are duplicates
# 3) Using  df.drop_duplicates() to drop duplicates

In [95]:
#SQL
SELECT COUNT(*) AS COUNT_ACCEPT
INTO Accept_temp
FROM Request_accepted
WHERE time IS NOT NULL 
AND acceptor_id IS NOT NULL 
AND sent_to_id IS NOT NULL;

SELECT COUNT(*) AS COUNT_REQUEST
INTO Request_temp
FROM friend_request
WHERE request_id IS NOT NULL
AND time IS NOT NULL
AND sent_to_id IS NOT NULL

SELECT COUNT_ACCEPT/COUNT_REQUEST AS ACCEPTANCE_RATE
FROM Accept_temp,Request_temp

SyntaxError: invalid syntax (<ipython-input-95-e696955cc097>, line 2)

In [1]:
#PYTHON
import numpy as np
import pandas as pd
import DataFrame as df
import scipy
df1 = pd.read_csv("friend_request.csv")
df2 = pd.read_csv("request_qccepted.csv")
len(df1.index)/len(df2.index)

ModuleNotFoundError: No module named 'DataFrame'

In [101]:
import numpy as np
import pandas as pd
from pandas import DataFrame
import scipy
%matplotlib inline
import matplotlib.pyplot as plt
import datetime

In [3]:
cc = "4175004175004172"
if (cc[0] == "4") and (len(cc) == 16):
    if(cc[0:4] == "4026") or (cc[0:6] == "417500") or (cc[0:4] == "4405") or (cc[0:4] == "4508") or (cc[0:4] == "4844") or (cc[0:4] == "4913") or (cc[0:4] == "4917"):
        print('VISAELECTRON')
    else:
        print("VISA")
if ((cc[0:2] == "34") or (cc[0:2] == "37")) and (len(cc) == 15):
    print("AMEX")
if (cc[0:2] == "36") and (len(cc) == 14):
    print("Diners Club")

VISAELECTRON

In [39]:
file_location = "C:/Users/dell/Desktop/BA501/data/python_notebook-master/"
file_name = "BA501_python_data.csv"
my_data = pd.read_csv(file_location+file_name)
my_data.head()

,country,date,experiment_id,order_id,spend_usd,user_id,vertical
0,JP,20170402,12624548,5813140433216629693,16.138855,5006730028073359543,ANDROID_APPS
1,US,20170403,12624549,16333056276711034931,9.990000,5938685669571545259,ANDROID_APPS
2,JP,20170404,12624548,11227119161741298366,19.887087,17623708458399141713,ANDROID_APPS
3,US,20170403,12624548,11927299833124210932,19.990000,18042812344456618148,ANDROID_APPS
4,JP,20170403,12624549,11644727017708872749,88.220093,4325104700699531031,ANDROID_APPS

In [108]:
#PrintCumulativeTimeSeries()
def GetSeries(my_data, my_id, my_country, my_vertical):
    table = my_data[["date", "spend_usd"]][(my_data.experiment_id == my_id)&(my_data.country == my_country)&(my_vertical == my_data.vertical)]
    series = np.cumsum(table.groupby('date')['spend_usd'].sum())
    return(series)
red = GetSeries(my_data, 12624548, "JP" , "ANDROID_APPS")
blue = GetSeries(my_data, 12624549, "JP","ANDROID_APPS")
def PlotSeries(index_series, experiment_series, control_series):
    df = pd.DataFrame(
        {
            "experiment": experiment_series.tolist(),
            "control": control_series.tolist()
        },
        index = index_series.tolist(), # a range of dates
        columns = ["experiment", "control"]
    )
    my_data.date = pd.to_datetime(my_data.date, format='%Y%m%d')

    df.plot()
    
    
date_series = my_data.date
index_series = np.unique(date_series)
#index_series



def PrintCumulativeTimeSeries(my_data, experiment_ids, my_country, my_vertical):
    # make sure our x-axis is consistent
   
   
    index_series = np.unique(date_series) # unique date
    index_series = np.sort(index_series) # sort by date
    
    
    # data grouping
    my_data = my_data.sort_values("date", ascending=True, inplace=False)
    treatment_series = GetSeries(my_data, experiment_ids[0],my_country, my_vertical)
    control_series = GetSeries(my_data, experiment_ids[1],my_country, my_vertical)
    
    PlotSeries(index_series, treatment_series, control_series)
    plt.gcf().autofmt_xdate()
    
    Rate=(treatment_series.iloc[-1]-control_series.iloc[-1])/control_series.iloc[-1]
    print( "{:.1%}".format(Rate))